body {
  margin: 0;
  padding: 0;
  background: #ffe;
  font-size: 12px;
  overflow: auto;
}
#mainDiv {
  width: 100%;
  height: 100%;
}
#loveHeart {
    display: flex;
    width: 100vw;
    height: 387px;
  /* float: left; */
  /* width: 670px; */
  /* width: 350px; */
  /* height: 625px; */
  /* height: 326px; */
}
#garden {
  width: 100%;
  height: 100%;
}
#elapseClock {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#words {
  font-family: "sans-serif";
  width: 300px;
  font-size: 14px;
  color: #666;
}
#messages {
  display: none;
}
#elapseClock .digit {
  font-family: "digit";
  font-size: 18px;
  font-weight: 600;
  color: rgba(255,0,0,0.7);
}
#loveu {
  padding: 5px;
  font-size: 12px;
  margin-top: 80px;
  margin-right: 120px;
  text-align: right;
  display: none;
}
#loveu .signature {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
}
#clickSound {
  display: none;
}
#code {
  float: left;
  width: 440px;
  height: 400px;
  color: #333;
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New",
    "sans-serif";
  font-size: 12px;
}
#code .string {
  color: #2a36ff;
}
#code .keyword {
  color: #7f0055;
  font-weight: bold;
}
#code .placeholder {
  margin-left: 15px;
}
#code .space {
  margin-left: 7px;
}
#code .comments {
  color: #3f7f5f;
}
#copyright {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  color: #666;
}
#errorMsg {
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 100px;
  left: 0;
}
#copyright a {
  color: #666;
}
